<div class="topnav justify-content-end">
  <%= link_to t('defaults.home'), top_path %>
  <%= link_to t(Event.model_name.human), events_path %>
  <%= link_to t('defaults.mypage'), mypage_path(current_user) %>
</div>