<% content_for(:title, t('.title')) %>
<div class="container">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfvwhMlWE22QNVMUL0Ds9cf6XABVPE6X_WAka9F_HGAfUa-wA/viewform?embedded=true" width="640" height="855" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>