
.info-box {
  border: 1px solid black;
  float: left;
  width: 400px;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}

.place-info-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}

.place-info-header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.place-info-table {
  width: 100%;
  table-layout: fixed;
  th,
  td {
    word-break: break-word;
    white-space: pre-wrap;
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th,
    td {
      border-top-width: 5px;
    }
  }
}

tfoot tr{
  td{
    text-align: left;
  }
}

.small-info {
  font-size: 0.7rem;
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}

.place-name{
  margin: 0px 10px 20px 10px;
  font-family: sans-serif;
  font-size: 35px;
}

.place-details{
  display: flex;
}

.place-info{
  flex: 2;
}

.place-content{
  flex: 3;
  margin: 10px;

  img{
    padding: 10px;
  }
}

.place-list-map{
  display: flex;
}

.place-map{
  flex: 2;
}

.place-list{
  margin: 0px 10px;
  height: 80vh;
  flex: 3;
  overflow: auto;
}

.list-button{
  display: inline;
}
.card {
  height: 100%;
}

.card-body {
  padding: 1px;
  img{
    max-width: 100%;
  }
  .card-text{
    margin: 8px;
  }
}

