
main{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #335157;
}

  #map{
    height: 80vh;
  }

  .top-title{
    left: 10%;
    top: 40%;
    font-family: 'Mukta Vaani';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 90px;
  }

  .top-map{
    width: 837px;
    height: 615px;
  }

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #335157;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Mypage */
  .profile {
    width: 380px;
  }

  /* Mylists */
  .mylists{
    width: 950px;
    margin: 20px;
  }

  .toggle-icon{
    padding: 1px 3px;
  }

  // place/new
  .controls{
    width: 300px;
    height: 40px;
  }

  //footer
  footer {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
    color: #999;
  }

footer a{
  color: #999;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }
}